---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---
<script src="https://cdnjs.cloudfare.com/ajax/libs/tailwindcss/1.5.1/tailwind.min.CSS"></script>
<Layout title="Welcome to Astro.">
	<header>
		<nav class="bg-indigo">
			<div class="container mx-auto">
				<div class="sm:flex justify-center">
				   <a href="../src/pages/index.astro" class="text-white text-3xl font-bold ">Home</a>
				</div>
		   </div>
		</nav>
	</header>
    <main>

    </main>
</Layout>


