---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<header>
			<nav>
				<ul>
				<li><a href="./index/">Home</a></li>
				<li><a href="./about/">About</a></li>
				<li><a href="./social/">Social</a></li>
				<li><a href="./contact/">Contact</a></li>
				<li><a href="./experience/">Experience</a></li>
				</ul>
			</nav>
		</header>
		
		<main>
			<h1 id="homeH1">Home</h1>
			<p id="homeP">Welcome to my personal website, I'm Andres and I'm a student developer.</p>
			<img src="src/images/Picture Andres.jpg" alt="Image of Andres" id="profilepic" width="250px">

			
		</main>
	</body>
</html>
